users_files/infermieri.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="dipendenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="infermiere"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="infermiere">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nome"/>
        <xs:element ref="cognome"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nome" type="xs:NCName"/>
  <xs:element name="cognome" type="xs:NCName"/>
</xs:schema>
